body {
    background-color: aliceblue;
}

h1 {
    padding-top: 75px;
    text-align: center;
    font-style: italic;
    font-weight: bold;   
}
.croissant-photo {
    max-width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: block;
    margin: 30px auto;
}
footer {
    text-align: center;
    
}
footer a {
margin: 0 10px;
color: blue;

}
p{
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
